html, body {
    height: 100%;
    width: 100%;
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #b82828, #009900);
    background-size: 200% 100%;
    animation: gradientAnimation 2s infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}
.title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #7e3434;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha value for transparency */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(161, 58, 58, 0.1);
    padding: 20px;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

.row {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}

.input {
    width: 100%;
    font-size: 20.5px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid #ad5656;
    border-radius: 9px;
    text-align: left;
}

.button {
    width: 75px;
    height: 75px;
    padding: 15px;
    margin: 0 3px;
    border: 2px solid #333;
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
    text-emphasis-color: red;
    text-rendering: optimizeSpeed;
    background-color: #959090;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ddd;
}
